### Assignment-02 (DICTIONARY)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty dictionary and print it.

In [33]:
dict11 = {}
print("Empty dictionary: ",dict11)

Empty dictionary:  {}

    Create a dictionary representing a person with keys such as 'name', 'age', and 'city'.

In [22]:
dictt = {'name' : "john", 'age' : 21 ,'city' :"London"}
print(dictt)

{'name': 'john', 'age': 21, 'city': 'London'}

    Create a dictionary that includes keys with different data types (strings, integers).

In [23]:
dict1 = {
    'name': 'Alice', 
    7 : 10,
    'hello':5,
    21: 'bye'
}
dict1

{'name': 'Alice', 7: 10, 'hello': 5, 21: 'bye'}

Access and print the value associated with a specific key.

In [24]:
dict1["name"]

'Alice'

    Use the get() method to access a value, providing a default value if the key is not present.

In [25]:
dict1.get("name")

'Alice'

    Iterate through the keys of a dictionary and print each key.

In [26]:
dic = {'name' : "john", 'age' : 21 ,'city' :"London"}
for key in dic.keys():
    print("Keys of the dictionary: ",key)

Keys of the dictionary:  name
Keys of the dictionary:  age
Keys of the dictionary:  city

Add a new key-value pair to a dictionary.

In [27]:
dic["country"] = "England"
print(dic)

{'name': 'john', 'age': 21, 'city': 'London', 'country': 'England'}

Modify the value associated with an existing key.

In [20]:
dic["name"] = "Joe"
print(dic)

{'name': 'Joe', 'city': 'London'}

Remove a specific key-value pair from a dictionary using the pop() method.

In [28]:
dic.pop("country")
print(dic)

{'name': 'john', 'age': 21, 'city': 'London'}

    Remove a specific key-value pair from a dictionary using the del statement.

In [29]:
del dic["age"]
dic

{'name': 'john', 'city': 'London'}

Convert a dictionary to a list of keys.

In [30]:
dic2 = {'name' : "john", 'age' : 21 ,'city' :"London"}
keys_list = list(dic2)
print("List of keys: ",keys_list)

List of keys:  ['name', 'age', 'city']

    Convert a dictionary to a list of values.

In [31]:
value_list = list(dic2.values())
print("List of values: ",value_list)

List of values:  ['john', 21, 'London']

    Convert a list of tuples to a dictionary.

In [54]:
list_of_tuples = [('name', 'Joe'), ('age', 21), ('city', 'London')]
dict_list = dict(list_of_tuples)
print("Dictionary from list of tuples:", dict_list)

TypeError: 'dict' object is not callable

Use the keys() method to get a list of keys in a dictionary.

In [42]:
dic2 = {'name' : "john", 'age' : 21 ,'city' :"London"}
print("list of keys using key method: ",list(dic2.keys()))

list of keys using key method:  ['name', 'age', 'city']


    Use the values() method to get a list of values in a dictionary.

In [43]:
dic2 = {'name' : "john", 'age' : 21 ,'city' :"London"}
print("list of values using value method: ",list(dic2.values()))

list of values using value method:  ['john', 21, 'London']

    Use the items() method to get a list of key-value pairs in a dictionary.

In [45]:
list_of_dic = list(dic2.items())
print("list of items in the dictionary using items() method: ", list_of_dic)

list of items in the dictionary using items() method:  [('name', 'john'), ('age', 21), ('city', 'London')]

Check if a key is present in a dictionary using the in operator.

In [47]:
if "age" in dic2:
    print("Age is present in the dictionary")
else:   
    print("Age is not present in the dictionary")

Age is present in the dictionary

    Use the setdefault() method to add a key with a default value if it doesn't exist.

In [48]:
dic.setdefault('country', 'England')
print("Updated dictionary:", dic)

Updated dictionary: {'name': 'john', 'city': 'London', 'country': 'England'}

    Merge two dictionaries using the update() method.

In [49]:
diction1 = {'name': 'John', 'age': 30}
diction2 = {'city': 'New York', 'country': 'USA'}
diction1.update(diction2)
print("Merged dictionary:", diction1)

Merged dictionary: {'name': 'John', 'age': 30, 'city': 'New York', 'country': 'USA'}

    Use the clear() method to remove all elements from a dictionary.

In [53]:
dic3 = {'name' : "john", 'age' : 21 ,'city' :"London"}
dic3.clear()
print(dic3)

{}