### Assignment-01 (List)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Create an empty list and print it.

In [1]:
empty_list = []
print('Empty list: ',list)

Empty list:  <class 'list'>

Create a list of your favorite colors and print it.

In [2]:
fvrt_colors = ['blue','black','green','purple']
print("list of favorite colors: ",fvrt_colors)

list of favorite colors:  ['blue', 'black', 'green', 'purple']

Create a list that includes a mix of data types (integers, strings, floats).

In [4]:
mix_list = ["JJ", 0.97, 21, "22"]
print("Mix datatypes list: ", mix_list)

Mix datatypes list:  ['JJ', 0.97, 21, '22']

Access the first element of a list.

In [5]:
print("First element: ",mix_list[0])

First element:  JJ

Access the last element of a list.

In [6]:
print("Last element: ",mix_list[-1])

Last element:  22

 Access the second and third elements of a list.

In [10]:
print("second element: ",mix_list[2],"\nthird element: ",mix_list[3])

second element:  21
third element:  22


Slice a list to extract the first three elements.

In [12]:
print("first three elements:",mix_list[:3])

first three elements: ['JJ', 0.97, 21]

Slice a list to extract the last three elements.

In [16]:
print("last three elements:",mix_list[-3:])

last three elements: [0.97, 21, '22']

Slice a list to get every second element.

In [15]:
print("every seccond element:",mix_list[::2])

every seccond element: ['JJ', 21]

Reverse a list using slicing.

In [18]:
print("reverse list:",mix_list[::-1])

reverse list: ['22', 21, 0.97, 'JJ']

 Create two lists and concatenate them.

In [21]:
list_1 = [21, 3, "red", 2.12, "green", 22]
list_2 = ["cat", 65, 2.45, "dog", 27, 25.1]
new_list = list_1 + list_2
print(new_list)

[21, 3, 'red', 2.12, 'green', 22, 'cat', 65, 2.45, 'dog', 27, 25.1]


Repeat a list multiple times using the repetition operator

In [22]:
repeated_list = new_list * 2
print(repeated_list)

[21, 3, 'red', 2.12, 'green', 22, 'cat', 65, 2.45, 'dog', 27, 25.1, 21, 3, 'red', 2.12, 'green', 22, 'cat', 65, 2.45, 'dog', 27, 25.1]

Add a new element to the end of a list using the append() method.

In [23]:
listt = [2, 3, 54]
listt.append("red")
print(listt)

[2, 3, 54, 'red']


Extend a list with elements from another list using the extend() method.

In [25]:
list1 = [2, 24, 3 , 4]
list1.extend([2,'hello', 5])
print(list1)

[2, 24, 3, 4, 2, 'hello', 5]

Insert an element at a specific index in a list using the insert() method.

In [39]:
lis = [2,3,4,5,7]
lis.insert(4, 10)
print(lis)

[2, 3, 4, 5, 10, 7]

 Remove the last element from a list using the pop() method.

In [40]:
lis.pop(-1)
print(lis)

[2, 3, 4, 5, 10]

Remove a specific element from a list using the remove() method.

In [41]:
lis.remove(10)
print(lis)

[2, 3, 4, 5]

Clear all elements from a list.

In [43]:
my_list = [2,"eman",67,2.21]
my_list.clear()
print("clear list: ",my_list)

clear list:  []

Delete an element at a specific index using the del statement.

In [45]:
mylist = [2,5,6,3,1]
del mylist[2]
print("deleted list:", mylist)

deleted list: [2, 5, 3, 1]

Convert a string to a list of characters and vice-versa.

In [46]:
string = "hello"
print(list(string))

['h', 'e', 'l', 'l', 'o']

In [1]:
Sort a list in ascending order using the sort() method.

SyntaxError: invalid syntax (2664476093.py, line 1)

In [47]:
ascn_list = [4,5,2,6,1]
ascn_list.sort()
print(ascn_list)

[1, 2, 4, 5, 6]

In [ ]:

Sort a list in descending order using the sort() method.

In [48]:
d_list = [4,5,2,6,1]
d_list.sort(reverse=True)
print(d_list)

[6, 5, 4, 2, 1]

Reverse the order of a list using the reverse() method.

In [49]:
l1 = [2,5,7,8,1]
l1.reverse()
print(l1)

[1, 8, 7, 5, 2]

Check if an element is present in a list using the in operator.

In [50]:
l11 = [2,5,7,1,8]
ll = 5 in l11
print(ll)

True

Compare two lists to see if they are equal in both value and identity.

In [51]:
lis1 = [1, 2, 3, 4]
lis2 = [1, 2, 3, 4]
val_equal = lis1 == lis2
id_equal = lis1 is lis2
print("Value equality:", val_equal,"\nIdentity equality:", id_equal)

Value equality: True
Identity equality: False

Create a shallow copy of a list and modify one of the lists to observe the effects on the other.

In [2]:
import copy
org_list = [1, 2, 3, 4]
copy_list = copy.copy(org_list)
org_list.append(10)
print("Original list:", org_list)
print("Copied list:", copy_list)

Original list: [1, 2, 3, 4, 10]
Copied list: [1, 2, 3, 4]

Create a deep copy of a nested list and modify one of the lists to observe the effects on the other.

In [53]:
import copy
orgg_nlist = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
copied_nlist = copy.deepcopy(orgg_nlist)
orgg_nlist[0].append(10)

print("Original nested list:", orgg_nlist)
print("Copied nested list:", copied_nlist)

Original nested list: [[1, 2, 3, 10], [4, 5, 6], [7, 8, 9]]
Copied nested list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

Pickle and Unpickle a list and display its content.

In [56]:
import pickle

my_list = [1, 2, 3, 4, 5] #pickle

with open('my_list.pkl', 'wb') as file:
    pickle.dump(my_list, file)

print("List pickled successfully")

List pickled successfully

In [57]:
import pickle

#unpickle
with open('my_list.pkl', 'rb') as file:
    unpickled_list = pickle.load(file)

print("Content of the unpickled list:", unpickled_list)

Content of the unpickled list: [1, 2, 3, 4, 5]