### Assignment-03 (SET)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty set and print it.

In [3]:
empty_set = {}
print("Empty set: ",empty_set)

Empty set:  {}

  Create a set of your favorite colors and print it.

In [4]:
fvrt_colors = {"blue","black","green","purple","yellow"}
print("set of favorite colors: ", fvrt_colors)

set of favorite colors:  {'yellow', 'green', 'black', 'purple', 'blue'}

    Create a set that includes a mix of data types (integers, strings, floats).

In [5]:
mixed_set = {10, 'apple', 3.67, 21,'banana'}
print("Mixed set:", mixed_set)

Mixed set: {3.67, 21, 10, 'banana', 'apple'}

Access the elements of a set using a loop and print each element.

In [6]:
for element in mixed_set:
    print("Elements in set: ",element)

Elements in set:  3.67
Elements in set:  21
Elements in set:  10
Elements in set:  banana
Elements in set:  apple

add a new element to a set using the add() method.

In [7]:
mixed_set.add(56)
print("Updated set: ",mixed_set)

Updated set:  {3.67, 21, 56, 10, 'banana', 'apple'}

Add multiple elements to a set using the update() method.

In [8]:
new_set = {2,3,5,1,"red","green",65}
new_set.update([22,54,12])
print("Updated set: ",new_set)

Updated set:  {65, 2, 3, 1, 5, 'green', 12, 'red', 22, 54}

Remove and return an arbitrary element from a set using the pop() method.

In [9]:
removed_element = new_set.pop()
print("Removed element: ", removed_element)
print("Updated set: ", new_set)

Removed element:  65
Updated set:  {2, 3, 1, 5, 'green', 12, 'red', 22, 54}

Remove a specific element from a set using the remove() method.

In [10]:
new_set.remove(5)
print("Updated Set: ",new_set)

Updated Set:  {2, 3, 1, 'green', 12, 'red', 22, 54}

Remove a specific element from a set using the discard() method.

In [11]:
new_set.discard(2)
print("Updated set: ",new_set)

Updated set:  {3, 1, 'green', 12, 'red', 22, 54}

Convert a string to a set of unique characters.

In [12]:
string = "hello"
characters = set(string)
print("Unique Characters: ", characters)

Unique Characters:  {'l', 'h', 'e', 'o'}

Convert a set of characters to a string.

In [19]:
unique_str = {"h","e","l","o","r"}
conversion = ''.join(unique_str)
print(conversion)

olher

Use the clear() method to remove all elements from a set.

In [20]:
sett = {1,2,3,4}
sett.clear()
print("clear set: ", sett)

clear set:  set()

Use the copy() method to create a shallow copy of a set.

In [21]:
org_set = {1,2,3}
shallow_copy = org_set.copy()
org_set.add(4)
print("Original set:", org_set)
print("Shallow copy set:", shallow_copy)

Original set: {1, 2, 3, 4}
Shallow copy set: {1, 2, 3}

Use the difference() method to find the difference between two sets.

In [22]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {4, 5, 6, 7, 8}
difference = set_1.difference(set_2)
print("Difference between both sets:", difference)

Difference between both sets: {1, 2, 3}

Create two sets and find their union.

In [25]:
sett1 = {1, 2, 3}
sett2 = {4, 5, 6}
union = sett1.union(sett2)
print("Union of both sets:", union)

Union of both sets: {1, 2, 3, 4, 5, 6}

    Create two sets and find their intersection.

In [26]:
set__1 = {1, 2, 3, 4, 5}
set__2 = {3, 4, 5}
intersection = set__1.intersection(set__2)
print("Intersection of both sets:", intersection)

Intersection of both sets: {3, 4, 5}

 Create two sets and find their difference.

In [27]:
sset1 = {1, 2, 3, 4, 5}
sset2 = {3, 4, 5}
difference = sset1.difference(sset2)
print("Difference :", difference)

Difference : {1, 2}

    Create two sets and find their symmetric difference.

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_diff = set1.symmetric_difference(set2)

# Print the symmetric difference set
print("Symmetric difference between both sets:", symmetric_diff)

Symmetric difference between both sets: {1, 2, 4, 5}

Check if one set is a subset of another.

In [29]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

    Check if one set is a superset of another.

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 7}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is not a superset of set2

    Check if two sets are disjoint (have no common elements).

In [33]:
set1 = {1, 2, 3, 4}
set2 = {4, 5, 6}
disjoint = set1.isdisjoint(set2)
if disjoint:
    print("set1 and set2 are disjoint")
else:
    print("set1 and set2 have common elements")

set1 and set2 have common elements