### Assignment-04 (Tuple)
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

    Create an empty tuple and print it.

In [1]:
empty_tuple = ()
print("Empty tuple:", empty_tuple)

Empty tuple: ()

    Create a tuple of your favorite fruits and print it.

In [2]:
fvrt_fruits = ('apple', 'banana', 'orange', 'mango')
print("Favorite fruits:", fvrt_fruits)

Favorite fruits: ('apple', 'banana', 'orange', 'mango')

    Create a tuple that includes a mix of data types (integers, strings, floats).

In [3]:
mixed_tuple = (10, 'apple', 2.65, 54, 'banana', 22)
print("Mixed tuple:", mixed_tuple)

Mixed tuple: (10, 'apple', 2.65, 54, 'banana', 22)

  Access the first element of a tuple.

In [4]:
tuple1 = (10, 20, 30, 40, 50)
first_element = tuple1[0]
print("First element of the tuple:", first_element)

First element of the tuple: 10

    Access the last element of a tuple.

In [5]:
last_element = tuple1[-1]
print("Last element of the tuple:", last_element)

Last element of the tuple: 50

Access the second and third elements of a tuple.

In [7]:
sec_element = tuple1[1]
third_element = tuple1[2]
print("second element of the tuple:", sec_element, "\nthird element of the tuple: ", third_element)

second element of the tuple: 20
third element of the tuple:  30


    Slice a tuple to extract the first three elements.

In [8]:
firstthree_element = tuple1[:3]
print("First three elements: ",firstthree_element)

First three elements:  (10, 20, 30)

Slice a tuple to extract the last three elements.

In [9]:
lastthree_element = tuple1[-3:]
print("Last three elements: ",lastthree_element)

Last three elements:  (30, 40, 50)

   Slice a tuple to get every second element.

In [10]:
esec_element = tuple1[::2]
print("Every second element: ",esec_element)

Every second element:  (10, 30, 50)

    Reverse a tuple using slicing.

In [11]:
reversed_tuple = tuple1[::-1]
print("reversed List: ", reversed_tuple)

reversed List:  (50, 40, 30, 20, 10)

Create two tuples and concatenate them.

In [12]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2

print("Concatenated tuple:", concatenated)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

    Repeat a tuple multiple times using the repetition operator.

In [13]:
tuple3 = (1, 2, 3)
repeated_tuple = tuple3 * 2
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3)

Find the index of a specific element in a tuple using the index() method.

In [14]:
tuple1 = (10, 20, 30, 40, 50)
index_of_tuple = tuple1.index(30)
print("Index: ", index_of_tuple)

Index:  2

    Count the number of occurrences of a specific element in a tuple using the count() method.

In [15]:
tuple4 = (10, 20, 30, 200, 40, 200, 50)
count_tuple = tuple4.count(200)
print("Count: ", count_tuple)

Count:  2

Sort a tuple of numbers in ascending order.

In [16]:
tuplee = (3, 1, 4, 5, 7, 8, 9)
sorted_tuple = tuple(sorted(tuplee))
print("Tuple in ascending order:", sorted_tuple)

Tuple in ascending order: (1, 3, 4, 5, 7, 8, 9)

    Sort a tuple of strings in alphabetical order.

In [17]:
tuplee = ('banana', 'apple', 'orange', 'grape')
sorted_tuple = tuple(sorted(tuplee))
print("Tuple in alphabetical order:", sorted_tuple)

Tuple in alphabetical order: ('apple', 'banana', 'grape', 'orange')

Sort a tuple of tuples based on the second element of each inner tuple.

In [18]:
my_tuple = ((1, 5), (2, 3), (3, 7), (4, 1))
sorted_tuple = tuple(sorted(my_tuple, key=lambda x: x[1]))
print("Sorted tuple of tuples based on the second element:", sorted_tuple)

Sorted tuple of tuples based on the second element: ((4, 1), (2, 3), (1, 5), (3, 7))

Compare two tuples to see if they are equal in both value and identity.

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
equal = tuple1 == tuple2
print("Tuples equal in both value and identity: ", equal)

Tuples equal in both value and identity:  True

Create a shallow copy of a tuple and observe the effects of modifying one of the tuples.

In [21]:
import copy
org_tuple = (1, 2, 3)
shallow_copy = copy.copy(org_tuple)
shallow_copy += (4, 5)
print("Original tuple:", org_tuple)
print("Shallow copy of tuple:", shallow_copy)

Original tuple: (1, 2, 3)
Shallow copy of tuple: (1, 2, 3, 4, 5)

    Create a deep copy of a nested tuple and observe the effects of modifying one of the tuples.

In [22]:
import copy
org_tuple = (1, [2, 3, 4], 5)
deep_copy_tuple = copy.deepcopy(org_tuple)
deep_copy_tuple[1].append(6)
print("Original nested tuple:", org_tuple)
print("Deep copy nested tuple:", deep_copy_tuple)

Original nested tuple: (1, [2, 3, 4], 5)
Deep copy nested tuple: (1, [2, 3, 4, 6], 5)

    Pickle a tuple and save it to a file.

In [25]:
import pickle
tuple1 = (1, 2, 3, 4, 5)
file_path = "tuple_data.pk"
with open(file_path, 'wb') as file:
    pickle.dump(tuple1, file)

print("Tuple pickled and saved to:", file_path)

Tuple pickled and saved to: tuple_data.pk

    Unpickle a tuple from a file and display its content.

In [26]:
import pickle
file_path = "tuple_data.pk"
with open(file_path, 'rb') as file:
    unpickled_tuple = pickle.load(file)

print("Unpickled tuple:", unpickled_tuple)

Unpickled tuple: (1, 2, 3, 4, 5)